* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: radial-gradient(circle, #ffffff, #dbdbdb, #cccccc, #b3a9a9);
  overflow: hidden;
}
aside {
  background-color: grey;
  z-index: 999;
  width: 7%;
  padding: 0.5em;
  overflow-y: scroll;
  height: 97.5%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
aside::-webkit-scrollbar {
  display: none;
}
aside .category-container {
  background-color: white;
  padding: 0.3em 1em;
  margin: 0.5em 0;
  pointer-events: auto;
}
aside .category-container:hover {
  cursor: pointer;
}
aside .category-container img {
  width: 75px;
  pointer-events: none;
}
aside .category-container .model-title {
  text-align: center;
  pointer-events: none;
}
.category-options {
  margin-left: 10%;
  background-color: white;
  width: 17%;
  margin-top: 1em;
  z-index: 999;
  -webkit-box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.19);
}
.category-options:hover {
  cursor: pointer;
}
.category-options .options-title {
  padding: 0.5em;
  font-size: 20px;
  background-color: grey;
  pointer-events: none;
}
.category-options .options-title span {
  float: right;
  pointer-events: all;
}
.category-options .options-title span:hover {
  cursor: pointer;
}
.category-options .options-body .options-content {
  padding: 0.5em;
  display: flex;
}
.category-options .options-body .options-content p {
  pointer-events: none;
  font-size: 20px;
  align-self: center;
  margin-left: 10%;
}
.category-options .options-body .options-content img {
  pointer-events: none;
}
.category-options .options-body .active {
  background-color: #d4d4f8;
}
.category-options.collar-content,
.category-options.cuff-content,
.category-options.material-content {
  width: 30%;
}
.category-options.collar-content small,
.category-options.cuff-content small,
.category-options.material-content small {
  margin-left: 10%;
}
.category-options.collar-content .content,
.category-options.cuff-content .content,
.category-options.material-content .content {
  width: 100%;
}
.category-options.cuff-content {
  width: 25%;
}
main {
  position: absolute;
  top: 0;
  margin-left: 33%;
  width: 65%;
  z-index: -1;
}
main .main-image img {
  width: 55%;
}
main .main-image .price {
  position: absolute;
  right: 0;
  font-size: 2.5em;
  color: white;
  top: 10%;
}
.btn-reset {
  position: absolute;
  right: 2.5rem;
  font-size: 2em;
  padding: 0.5rem 0.5rem;
  color: white;
  top: 10%;
}
.hidden {
  display: none;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.selected {
  animation: zoom 0.8s ease both;
}
